<div class="container" align="center">
  <h1>You have reached the secret page!</h1>

  <p>Hello <%= @user.name %>!<br>
    Here is your reward for successfully getting in here. Enjoy!</p>

  <ul>
    <% @list = Url.where(user_id: @user.id) %>

    <% @list.each do |row| %>
      <li> URL = <%= row.long_url %> Shortened URL = <%= row.shortened_url %>
      </li>
      <% end %>
  </ul>

  <p><img src="http://aka.weightwatchers.ca/images/4105/dynamic/articles/2011/05/Potato_main.jpg"></p>

  <form action='/logout' method='post'>
    <button> Logout </button>
  </form>

</div>
