<div class="container">
  <h1>View tags</h1>
  <p><%= @flag %></p>

  <table>
    <tr>
      <th>Tag: <%= @tag.name %></th>
    </tr>
    <% @tag.properties.each do |property| %>
    <tr>
      <td>
        <a href="../view_property/<%= property.id %>"><%= property.title %></a><br>
      </td>
    </tr>
    <% end %>
  </table>
  <a href="../../"><button>Main Page</button></a>
</div>
